@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap{
    width: 100%;
    min-height: 100vh;
    padding: 60px 0 100px 0;
    transition: 0.5s;
    background-color: #c1c1cc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
.colorBox{
    width: 150px;
    height: 150px;
    transition: 0.5s;
    cursor: pointer;
}
.colorBoxRed{
    background-color: red;
}
.colorBoxGreen{
    background-color: green;
}
.colorBoxBlue{
    background-color: blue;
}
.colorBoxYellow{
    background-color: yellow;
}
a{
    position: fixed;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.back{
    bottom: 30px;
    left: 30px;
}
.next{
    bottom: 30px;
    right: 30px;
}
.back img{
    transform: rotate(180deg);
}
a img{
    width: 28px;
}
a label{
    margin: 0 15px;
    font-size: 1.2em;
    color: white;
    cursor: pointer;
}
h2{
    position: fixed;
    bottom: 30px;
    color: white;
    margin: 0 auto;
    text-transform: uppercase;
}
.colorBox__active{
    margin-top: -50px;
}
@media screen and (max-width:670px){
    .wrap{
        flex-direction: column;
    }
}